<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.system.dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.wf.ew.system.model.Permission" >
    <id column="permission_id" property="permissionId" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission_value" property="permissionValue" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="permission_icon" property="permissionIcon" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="INTEGER" />
    <result column="permission_type" property="permissionType" jdbcType="INTEGER" />
    <!-- 关联属性 -->
    <result column="parentName" property="parentName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    permission_id, parent_id, permission_name, permission_value, create_time, update_time, 
    is_delete, permission_icon, order_number, permission_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wf.ew.system.model.PermissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_permission
    where permission_id = #{permissionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_permission
    where permission_id = #{permissionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wf.ew.system.model.PermissionExample" >
    delete from sys_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wf.ew.system.model.Permission" >
    insert into sys_permission (permission_id, parent_id, permission_name, 
      permission_value, create_time, update_time, 
      is_delete, permission_icon, order_number, 
      permission_type)
    values (#{permissionId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, 
      #{permissionValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=INTEGER}, #{permissionIcon,jdbcType=VARCHAR}, #{orderNumber,jdbcType=INTEGER}, 
      #{permissionType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wf.ew.system.model.Permission" >
    insert into sys_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        permission_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="permissionValue != null" >
        permission_value,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="permissionIcon != null" >
        permission_icon,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="permissionType != null" >
        permission_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionValue != null" >
        #{permissionValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="permissionIcon != null" >
        #{permissionIcon,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="permissionType != null" >
        #{permissionType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wf.ew.system.model.PermissionExample" resultType="java.lang.Integer" >
    select count(*) from sys_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_permission
    <set >
      <if test="record.permissionId != null" >
        permission_id = #{record.permissionId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionName != null" >
        permission_name = #{record.permissionName,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionValue != null" >
        permission_value = #{record.permissionValue,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.permissionIcon != null" >
        permission_icon = #{record.permissionIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNumber != null" >
        order_number = #{record.orderNumber,jdbcType=INTEGER},
      </if>
      <if test="record.permissionType != null" >
        permission_type = #{record.permissionType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_permission
    set permission_id = #{record.permissionId,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      permission_name = #{record.permissionName,jdbcType=VARCHAR},
      permission_value = #{record.permissionValue,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      permission_icon = #{record.permissionIcon,jdbcType=VARCHAR},
      order_number = #{record.orderNumber,jdbcType=INTEGER},
      permission_type = #{record.permissionType,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wf.ew.system.model.Permission" >
    update sys_permission
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionValue != null" >
        permission_value = #{permissionValue,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="permissionIcon != null" >
        permission_icon = #{permissionIcon,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="permissionType != null" >
        permission_type = #{permissionType,jdbcType=INTEGER},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wf.ew.system.model.Permission" >
    update sys_permission
    set parent_id = #{parentId,jdbcType=VARCHAR},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_value = #{permissionValue,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      permission_icon = #{permissionIcon,jdbcType=VARCHAR},
      order_number = #{orderNumber,jdbcType=INTEGER},
      permission_type = #{permissionType,jdbcType=INTEGER}
    where permission_id = #{permissionId,jdbcType=VARCHAR}
  </update>
  
	<!-- 根据角色id查询权限 -->
	<select id="selectPermissionByRoleId" resultMap="BaseResultMap" parameterType="string">
	SELECT a.* FROM sys_permission a,sys_role_permission b WHERE a.permission_id=b.permission_id AND b.role_id=#{roleId} ORDER BY order_number
	</select>
	
	<select id="selectPermissions" resultMap="BaseResultMap">
	SELECT a.*,b.permission_name parentName FROM sys_permission a 
	LEFT JOIN sys_permission b ON a.parent_id=b.permission_id 
	<if test="searchKey!=null and searchKey!='' and searchValue!=null and searchValue!=''">WHERE ${searchKey} like '%${searchValue}%' </if>
	ORDER BY a.order_number ASC
	</select>
	
	<select id="selectPermissionsByType" resultMap="BaseResultMap">
	SELECT a.*,b.permission_name parentName FROM sys_permission a 
	LEFT JOIN sys_permission b ON a.parent_id=b.permission_id 
	where a.permission_type=#{permissionType}
	ORDER BY a.order_number ASC
	</select>
	
	<!-- 根据用户id查询权限 -->
	<select id="selectPermissionByUserId" resultMap="BaseResultMap" parameterType="string">
	SELECT a.* FROM sys_permission a,sys_role_permission b,sys_user c WHERE a.permission_id=b.permission_id AND b.role_id=c.role_id AND c.user_id=#{userId} AND a.is_delete=0 AND a.permission_type=0 ORDER BY order_number
	</select>
	
</mapper>